*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gabarito', sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    border-bottom: solid 1px black;
    align-items: center;
    gap: 20px;
    background-color: whitesmoke;
    z-index: 1;
}
.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    border: solid 1px black;
    width: 50%;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: whitesmoke;
}

.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar__s3__learning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    color: black;
    border: solid 1px black;
    width: 150px;
    top: 150%;
    right: 0%;
    padding: 10px;
    display: none;
}
.navbar__s3__learning:hover .mylearning__popup{
    display: block;
}
.navbar__s4{
    display: none;
}
.categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid 1px black;
    flex-wrap: wrap;
}
.categories p{
    background-color: #A435F0;
    padding: 10px;
    color: white;
    border-radius: 30px;
    transition:0.7s;
    border: solid 1px #A435F0;
}
.categories p:hover{
    background-color: white;
    color: #A435F0;
    cursor: pointer;
    border: solid 1px #A435F0;
    transition:0.7s;
}
.saleimage{
    position: relative;
}
.saleimage img{
    width: 100%;
}
.saleimage__box{
    padding: 2%;
    background-color: white;
    width: 35%;
    border: solid 1px black;
    position: absolute;
    top: 10%;
    left: 7%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.recommended__container__course-card{
    flex-basis: 20%;
    flex-grow: 1;
    margin: 10px;
}

.recommended__container__course-card img{
    width: 100%;
    height: 50%;
}
.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    
}
.topics-container p{
    border: solid 1px gray;
    flex-grow: 1;
    flex-basis: 25%;
    padding: 10px;
}

.most-popular{
    padding: 10px;
}
.most-popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.footer__one p{
    margin: 20px;
}

@media screen and (max-width:800px) {
    body{
        font-size: 12px;
    }
}
@media screen and (max-width:600px) {
    body{
        font-size: 12px;
    }
    .recommended__container__course-card{
        flex-basis: 40%;
    }
    .navbar__s2, .navbar__s3, .categories{
        display: none;
    }
    .navbar__s4{
    display: block;
    }
}
